@using sPlannedIt.Logic
@model sPlannedIt.Viewmodels.Company_Viewmodels.CompanyDetailsViewmodel
@{
    ViewData["Title"] = "CompanyDetails";
}

<div class="card">
    <div class="card-header">
        <h1>@Model.Company.CompanyID</h1>
    </div>
    <div class="card-body">
        <h5 class="card-title">Company Name: @Model.Company.CompanyName</h5>
    </div>
    <div class="card-footer">
        @if (Model.EmployeeData.Any())
        {
            <h3>Employees:</h3>
            foreach (var data in Model.EmployeeData)
            {
                <p>Employee Email: @data.User.Email</p>
                <p>Employee Role: @data.Role.Name</p>
                <p>-------------------------------------</p>
            }
        }
        <a asp-action="EditUsersInCompany"
           asp-route-companyId="@Model.Company.CompanyID" class="btn btn-primary">
        Add or remove users to this company</a>
    </div>
</div>

