@using sPlannedIt.Entities.Models
@model sPlannedIt.Viewmodels.Schedule_Viewmodels.ScheduleDetailsViewModel
<table class="table table-striped table-hover" style="outline: black">

    <tbody>
    @if (Model.Shifts.Any())
    {
        <tr>
            <th colspan="3">@Model.Name</th>
        </tr>
        @foreach (Shift shift in Model.Shifts)
        {
            var user = await _userManager.FindByIdAsync(shift.UserId);
            <tr align="top">
                <td width="100">@String.Concat(shift.ShiftDate.Day + "-" + shift.ShiftDate.Month + "-" + shift.ShiftDate.Year)</td>
                <td>@String.Concat(shift.StartTime + ":00") - @String.Concat(shift.EndTime + ":00")</td>
                <td>@user.Email</td>
            </tr>
        }
    }
    </tbody>
</table>